-- Teh project
    1. Saves to database
    2. Writes to specific folder to a file
    3. Appends a new line for other values
    4. Shows what's being saved through Request File
-------------------------------------------------------

1. DONE: Create a default quarkus reactive project

2. DONE: Add 2.1 Exception Handling
            2.2. Mapper
            2.3. ExpenseRepository
            2.4. ExpenseRequest
            2.5. ExpenseResponse

3.DONE: Added flyway
       Added initial schema (table expense)
       configured flyway configuration in app properties

4.DONE: Added FileServiceImpl writeToFile method
        Added toCsv to Expense entity
        In every Refresh it saves to database and writes to File

5.DONE: Added versioning
        codeHaus library

----------------------------------------------------------------------------------------------
Phase 2

App should
    1. Read files and by its id
    2. Have upload ability
            2.1 save to database
            2.2 and write to its own file storage
-------------------------------------------------------
1. DONE: Read all data line by line
2. DONE: Read file by id of entity
3. DONE: Show the written file
           Show all data written to a file
           Show data by id from the file

